.landingPageContainer {
  width: 70%;
  overflow-y: auto;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 20vh;
}

li:hover {
  cursor: pointer;
}

.article-container {
  width: 70%;
  float: right;
}

.post-summary-stat {
  width: 100%;
  color: hsl(204, 3%, 60%);
}

.article-list {
  width: 30%;
  margin-left: 0%;
  float: right;
  font-size: 3vmin;
  line-height: 6vmin;
  margin-top: 5vh;
}

.wrapper {
  //for articles
  font-size: 3vmin;
  line-height: 6vmin;
}

.blog-post-title {
  font-weight: 700;
  padding-bottom: 2vmin;
  padding-bottom: 4vmin;
}

.blog-post-subinfo {
  padding-bottom: 4vmin;
}

.blog-post-reading-time {
  margin-left: 2vmin;
  color: hsl(204, 3%, 50%);
}

.hashTag {
  width: auto;
  overflow-y: auto;
  color: #969a9c;
  padding-right: 1vmin;
  background-color: rgba(0,0,0,.05);
  margin-right: 1vmin;
  padding: 1vmin;
  border-radius: 0.5vmin;
}

.blogPostWrapper-short {
  padding-top: 5vmin;
  padding-bottom: 5vmin;
  height: 52vh;
  overflow: hidden;
}

.blogPostWrapper-long {
  padding-top: 5vmin;
  overflow: hidden;
}

.post-expand-reduce-button {
  text-align: center;
  cursor: pointer;
  padding-top: 1.5vmin;
  padding-bottom: 1vmin;
  color: hsl(204, 3%, 60%);
}

.post-likes {
  float: right;
  margin-right: 5%;
}

.post-like-button {
  margin-right: 1vmin;
  font-size: 2.8vmin;
}

.post-like-button:hover {
  cursor: pointer;
}

.post-number-of-likes {
  text-align: right;
}

.post-separator {
  width: 100%;
  font-size: 3vmin;
  text-align: center;
}

.blogpost-wrapper {
  margin-bottom: 5vmin;
}

.fa-heart {
  color: #d95e40;
}

@media screen and (min-width: 1680px) {

  .post-like-button {
    margin-right: 1vmin;
    font-size: 1.8vmin;
  }

  .landingPageContainer {
    width: 50%;
    overflow-y: auto;
    margin-left: 15%;
    margin-right: 35%;
  }

  .wrapper {
    font-size: 2vmin;
    line-height: 4.5vmin;
  }

  .article-list {
    font-size: 2vmin;
    line-height: 4.5vmin;
    width: 15%;
    margin-left: 15%;
    float: right;
  }
}

@media screen and (max-width: 950px) {

  .article-container {
    width: 100%;
  }

  .article-list {
    display: none;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .article-container {
    width: 100%;
  }

  .article-list {
    display: none;
  }

}