li {
  line-height: 2;
  margin: 2vmin 0;
  padding: 0;
}

ul {
  line-height: 2;
  margin: 2vmin 0;
  padding: 0;
}

.cureconnect-page-wrapper {
  width: 70vw;
  margin-left: 15vw;
  font-size: 3vmin;
  line-height: 6vmin;
}

.cureconnect-landingpage-demo {
  width: 95%;
}

.cureconnect-content-wrapper {
  width: 65%;
  line-height: 2.5;
}

.cureconnect-landingpage-demo:hover {
  cursor: pointer;
}

.center-align {
  width: 100%;
  text-align: center;
}

.single-indent {
  padding-left: 10%;
  color: #7c8083;
}

.section-divider {
  letter-spacing: 1vmin;
  font-size: 6vmin;
  text-align: center;
  color: #7c8083;
  padding: 0;
  line-height: 2vmin;
  margin-bottom: 5vmin;
}

.dialogue-box {
  border-left: 0.5vmin solid;
  padding-left: 5vmin;
  line-height: 2;
  color: #7c8083;
}

.visit-cureconnect-instruction {
  text-align: center;
  color: #7c8083;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}

.cureconnect-image-1 {
  width: 100%;
}

.cureconnect-image-2 {
  width: 160%;
}

.cc-phase1-image {
  width: 80%;
  margin-left: 10%;
}

.cc-phase2-image {
  width: 100%;
}

.project-synopsis {
  width: 96%;
}

.synopsis-header {
  font-weight: 600;
  margin: 1vmin 0;
}

.project-paragraph {
  margin-top: 5vmin;
  margin-bottom: 5vmin;
}

.project-paragraph-subnote {
  width: 90%;
  margin-left: 10%;
  line-height: 2.5;
  color: hsl(204, 3%, 50%);
}

.project-paragraph-header {
  font-weight: 600;
  margin-bottom: 2vmin;
}

.synopsis-content-paragraph {
  margin: 2.5vmin 0;
}