@media only screen
and (min-device-width: 1px)
and (max-device-width: 812px)
and (orientation: portrait) {

  #cureconnect-page-wrapper-mobile {
    width: 90vw;
    margin-left: 5vw;
  }

  #cureconnect-content-wrapper-mobile {
    width: 100%;
  }

  #cureconnect-image-2-mobile {
    width: 100%;
  }
}

li {
  line-height: 2;
  margin: 2vmin 0;
  padding: 0;
}

ul {
  line-height: 2;
  margin: 2vmin 0;
  padding: 0;
}

.cureconnect-page-wrapper {
  width: 70%;
  margin-left: 15vw;
  font-size: 3vmin;
  line-height: 6vmin;
}

.cureconnect-image-desc {
  color: #7c8083;
  font-weight: 200;
  text-align: center;
  margin-top: 1vmin;
}

.synopsis-subheader {
  margin-top: 4vmin;
}

.synopsis-content {
  color: #7c8083;
}

.cureconnect-landingpage-demo {
  width: 100%;
}

.cureconnect-content-wrapper {
  width: 100%;
  line-height: 2.5;
}

.cureconnect-landingpage-demo:hover {
  cursor: pointer;
}

.center-align {
  width: 100%;
  text-align: center;
}

.single-indent {
  padding-left: 10%;
  color: #7c8083;
}

.section-divider {
  letter-spacing: 1vmin;
  font-size: 6vmin;
  text-align: center;
  color: #7c8083;
  padding: 0;
  line-height: 2vmin;
  margin-top: 5vmin;
  margin-bottom: 8vmin;
}

.dialogue-box {
  border-left: 0.5vmin solid;
  padding-left: 5vmin;
  line-height: 2;
  color: #7c8083;
}

.visit-cureconnect-instruction {
  text-align: center;
  color: #7c8083;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  font-weight: 200;
}

.cureconnect-image-1 {
  width: 100%;
}

.cureconnect-image-2 {
  width: 100%;
}

.cc-phase1-image {
  width: 80%;
  margin-left: 10%;
}

.cc-phase2-image {
  width: 100%;
}

.project-synopsis {
  width: 96%;
}

.synopsis-header {
  font-weight: 600;
}

.project-paragraph {
  margin-top: 5vmin;
  margin-bottom: 5vmin;
}

.project-paragraph-subnote {
  width: 90%;
  margin-left: 10%;
  line-height: 2.5;
  color: hsl(204, 3%, 50%);
}

.project-paragraph-header {
  font-weight: 600;
  margin-bottom: 2vmin;
}

.synopsis-content-paragraph {
  margin: 2.5vmin 0;
}

.cureconnect-component-button-container {
  width: 100%;
  margin-top: 5vmin;
}

.cureconnect-component-button {
  width: 44.5%;
  float: left;
  margin-top: 7vmin;
  margin-bottom: 7vmin;
  padding-left: 5%;
  border-left: solid 0.1vmin white;
}

.cureconnect-component-link {
  font-weight: 200;
  color: #7c8083;
}

.cureconnect-component-button:hover {
  cursor: pointer;
  border-left: solid 0.1vmin #969a9c;
}

.cureconnect-component-row-1 {

}

.cureconnect-component-row-1-anchor {
  margin-left: 2vmin;
  margin-right: 2vmin;
  font-weight: 600;
}

.cureconnect-component-row-1-caption {
  color: #7c8083;
  font-weight: 200;
}

.cureconnect-component-row-2 {
  margin-left: 10%;
}

.cureconnect-component-row-3 {
  font-weight: 200;
  margin-left: 10%;
  width: 80%;
}

.cureconnect-component-row-4 {
  width: auto;
  overflow-y: auto;
  color: #969a9c;
  font-weight: 200;
  margin-left: 10%;
  margin-top: 5vmin;
}

.cureconnect-component-row-4:hover {
  border: #4a4d4f;
  color: #4a4d4f;
  cursor: pointer;
}

.cureconnect-component-row-4-anchor {
  float: left;
  width: 7vmin;
  height: 7vmin;
  min-height: 7vmin;
  line-height: 7vmin;
  text-align: center;
  border-radius: 100%;
  background-color: hsla(200, 3%, 60%, 0.3);
}

.cureconnect-component-row-4-anchor:hover {
  float: left;
  width: 7vmin;
  height: 7vmin;
  text-align: center;
  border-radius: 100%;
  line-height: 7vmin;
  cursor: pointer;
}

.cureconnect-component-row-4-caption {
  float: left;
  padding: 0.5vmin;
  margin-top: 1.5vmin;
  margin-left: -2.5vmin;
  line-height: 3vmin;
  z-index: 5;
  background-color: transparent;
  color: #4a4d4f;
}

.cureconnect-component-row-4-caption:hover {
  cursor: pointer;
  font-weight: 400;
}

.cursor-hover:hover {
  cursor: pointer;
}

.anchor-hover:hover {

}