.cureconnect-page-wrapper {
  width: 70vw;
  margin-left: 15vw;
  font-size: 3vmin;
  line-height: 6vmin;
}

.cureconnect-landingpage-demo {
  width: 95%;
  margin-left: 2.5%;
}

.project-synopsis:hover {
  cursor: pointer;
}

.visit-cureconnect-instruction {
  text-align: center;
  color: #7c8083;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}

.cureconnect-image-1 {
  width: 80%;
  margin-left: 6%;
}

.cureconnect-image-2 {
  width: 105%;
}

.cc-phase1-image {
  width: 50%;
  margin-left: 20%;
}

.cc-phase2-image {
  width: 60%;
  margin-left: 15%;
}

.double-indent-paragraph {
  margin-left: 5%;
}

.project-synopsis {
  width: 96%;
}

.synopsis-header {
  font-weight: 600;
  margin: 1vmin 0;
}

.project-paragraph {
  margin-top: 5vmin;
  margin-bottom: 5vmin;
}

.project-paragraph-subnote {
  width: 90%;
  margin-left: 10%;
  line-height: 1.5;
  color: hsl(204, 3%, 50%);
}

.project-paragraph-header {
  font-weight: 600;
  margin-bottom: 2vmin;
}

.synopsis-content-paragraph {
  margin: 2.5vmin 0;
}