.home-intro-container-web {
  width: 80%;
  margin-left: 10%;
  overflow: auto;
  letter-spacing: 0.5vmin;
  line-height: 10vmin;
  text-align: center;
  font-size: 4vmin;
}

.navbar-home-container {
  width: 100%;
  overflow-y: auto;
  margin-top: 10vmin;
}

.home-background-container-web {
  width: 90%;
  height: 100%;
  overflow-y: hidden;
  margin-left: 5%;
  margin-top: 10vmin;
  opacity: 0.9;
}

.home-image-web {
  width: 100%;
}

