@media only screen
and (min-device-width: 1px)
and (max-device-width: 812px)
and (orientation: portrait) {
  #landing-page-photo-size-for-mobile {
    width: 180%;
    margin-left: -40%;
    overflow: hidden;
  }
}

.home-intro-container-web {
  width: 80%;
  margin-left: 10%;
  overflow: auto;
  letter-spacing: 0.5vmin;
  line-height: 10vmin;
  text-align: center;
  font-size: 4vmin;
}

.navbar-home-container {
  width: 100%;
  overflow-y: auto;
  margin-top: 10vmin;
}

.home-background-container-web {
  width: 70%;
  overflow: hidden;
  margin-left: 15%;
  margin-top: 10vmin;
  margin-bottom: 10vmin;
  opacity: 0.9;
}

.home-image-web {
  width: 100%;
}

