body {
  margin: 0;
  border: solid 1vmin hsl(204, 3%, 30%);
  //font-family: 'Nanum Gothic', sans-serif;
  //font-family: 'Comfortaa';
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: hsl(204, 3%, 30%);
}

div {
  cursor: default;
}