body {
  font-size: 4vmin;
}

.navbar-web-container {
  width: 70%;
  margin: 5vh 15%;
  overflow-y: auto;
}

.navbar-web-left {
  width: auto;
  float: left;
}

.navbar-web-logo {
  padding: 2vmin;
  width: 4vmin;
  text-align: center;
  border: solid hsl(204, 3%, 30%) 0.3vmin;
  font-size: 3vmin;
}

.navbar-web-right {
  width: auto;
  float: right;
  font-size: 3vmin;
  padding: 2vmin;
}

.navbar-web-right a {
  width: auto;
  padding: 1vmin;
  margin: 0 1vmin 0 1vmin;
  float: right;
  color: hsl(204, 3%, 30%);
  text-decoration: none;
  text-align: right;
}

@media screen and (min-width: 1680px) {
  .navbar-web-container {
    width: 65%;
    margin: 5vh 15%;
    overflow-y: auto;
  }

  .navbar-web-right {
    font-size: 2vmin;
  }

  .navbar-web-logo {
    padding: 2vmin;
    width: 2vmin;
    border: solid #4a4d4f 0.3vmin;
    font-size: 2vmin;
  }
}




