@media all and (min-width: 1px) and (max-width: 820px) {
  .navbar-web-container {
    width: 90%;
    margin: 5vh 5%;
    overflow-y: auto;
  }
}

@media all and (min-width: 821px) and (max-width: 1680px) {
  .navbar-web-container {
    width: 70%;
    margin: 5vh 15%;
    overflow-y: auto;
  }
}

@media all and (min-width: 1680px) {
  .navbar-web-container {
    width: 65%;
    margin: 5vh 15%;
    overflow-y: auto;
  }

  .navbar-web-right {
    font-size: 2vmin;
  }

  .navbar-web-logo {
    padding: 2vmin;
    width: 2vmin;
    border: solid #4a4d4f 0.3vmin;
    font-size: 2vmin;
  }

}

//Mobile Device Portrait
@media only screen
and (min-device-width: 1px)
and (max-device-width: 812px)
and (orientation: portrait) {
  .navbar-web-container {
    width: 90%;
    margin: 5vh 5%;
    overflow-y: auto;
  }
}

body {
  font-size: 4vmin;
}

.navbar-web-left {
  width: auto;
  float: left;
}

.navbar-web-logo {
  padding: 2vmin;
  width: 4vmin;
  text-align: center;
  border: solid hsl(204, 3%, 30%) 0.3vmin;
  font-size: 3vmin;
}

.navbar-web-right {
  width: auto;
  float: right;
  font-size: 3vmin;
  padding-top: 2vmin;
}

.navbar-web-right a {
  width: auto;
  padding: 1vmin;
  margin: 0 1vmin 0 1vmin;
  float: right;
  color: hsl(204, 3%, 30%);
  text-decoration: none;
  text-align: right;
}






