@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .project-item-container-mobile {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10vmin;
  }

  #project-image-project1, #project-image-project2, #project-image-project3, #project-image-project4, #project-image-project5, #project-image-project6 {
    margin-bottom: 0;
    margin: 0 !important;
    width: 100% !important;
  }

  .cureconnect-demo-photo {
    width: 100% !important;
  }

  .project-item-mobile {
    width: 100% !important;
  }

  .move-to-project-button {
    text-align: center;
  }

  .go-to-page-anchor-container {
    margin-top: 0vmin !important;
    float: right;
  }

}

.project-float-left {
  float: left;
  margin-bottom: 20vmin;
}

.move-to-project-button {
  font-weight: 400;
  margin: 6vmin 5vmin 4vmin 5vmin;
}

.wrapper {
  overflow-x: hidden;
}

.landingPageContainer {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #4a4d4f;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.project-CureConnect {
  overflow-x: hidden;
}

.project-description-CureConnect {
  border-right: solid #7c8083 0.1vmin;
}

.cureconnect-demo-photo {
  width: 100%;
  margin-top: 5vmin;
}

.project-description-container {
  color: #969a9c;
  line-height: 6vmin;
  font-weight: 200;
  margin: 4vmin 5vmin 4vmin 5vmin;
}

.go-to-page-anchor {
  width: 8vmin;
  height: 8vmin;
  text-align: center;
  border: solid 0.5vmin;
  border-radius: 100%;
  line-height: 8vmin;
  float: left;
}

.go-to-page-caption {
  float: left;
  line-height: 9vmin;
  margin-left: -0.5vmin;
  font-weight: 200;
}

.go-to-page-anchor-container {
  border-color: #969a9c;
  color: #969a9c;
  width: auto;
  overflow-y: auto;
  margin: 6vmin 5vmin 0 5vmin;
}

.go-to-page-anchor-container:hover {
  border-color: #4a4d4f;
  color: #4a4d4f;
  cursor: pointer;
}

.go-to-page-wrapper {
  margin-left: 5vmin;
}

.go-to-page-anchor:hover {
  cursor: pointer;
}

.go-to-page-caption:hover {
  cursor: pointer;
}

.go-to-page-wrapper {
  width: 7.5vmin;
  height: 9vmin;
  overflow-x: hidden;
}

.go-to-page-wrapper {
  float: left;
}

.project-technology {
  width: 100%;
  overflow-y: auto;
  color: #969a9c;
  font-weight: 200;
  line-height: 6vmin;
}

.project-item {
  font-size: 3vmin;
  width: auto;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 5vmin;
}

#project-description-project1 {
  float: left;
}

#project-description-project1 {
   width: 40%;
   font-size: 3vmin;
 }

#project-image-project1 {
  width: 60%;
}

#project-description-project3 {
   float: left;
 }

#project-description-project3 {
  width: 40%;
  font-size: 3vmin;
}

#project-image-project3 {
  width: 60%;
}

#project-description-project5 {
  float: left;
}

#project-description-project5 {
  width: 40%;
  font-size: 3vmin;
}

#project-image-project5 {
  width: 60%;
}

#project-description-project2 {
  float: right;
  width: 40%;
}

#project-image-project2 {
  width: 60%;
}

#project-description-project4 {
  float: right;
  width: 40%;
}

#project-image-project4 {
  width: 60%;
}

#project-description-project6 {
  float: right;
  width: 40%;
}

#project-image-project6 {
  width: 60%;
}

@media screen and (max-width: 950px) {
  .landingPageContainer {
    width: 80%;
    margin-left: 10%;
  }

  .move-to-project-button {
    margin: 0;
  }

  .project-description-container {
    margin-top: 1vmin;
    margin-bottom: 1vmin;
  }

  .project-float-left {
    margin-bottom: 10vmin;
  }

  .project-item-container-mobile {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10vmin;
  }

  .cureconnect-demo-photo {
    width: 100%;
  }

  .project-item-mobile {
    width: 100%;
  }

  .move-to-project-button {
    text-align: center;
  }

  .go-to-page-anchor-container {
    margin-top: 0vmin;
    float: right;
  }

  #project-image-project1, #project-image-project2, #project-image-project3, #project-image-project4, #project-image-project5, #project-image-project6 {
    margin: 0 15% 0 15%;
    width: 70%;
  }

  .cureconnect-demo-photo {
    margin: 0;
    padding: 0;
  }

  #project-description-project1, #project-description-project2, #project-description-project3, #project-description-project4, #project-description-project5, #project-description-project6 {
    width: 90%;
    font-size: 3vmin;
    margin-left: 5%;
    margin-top: 2vmin;
  }

}

